.idea
*.iml
npm-debug.log
dump.rdb
node_modules
results.tap
results.xml
npm-shrinkwrap.json
config.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*
lib-cov
lib/web/public/assets/javascripts/vendor/*
lib/web/public/assets/javascripts/vendor/._*
lib/web/public/assets/javascripts/vendor/_*
lib/web/public/assets/images/uploads/*
lib/web/public/assets/images/uploads/._*
lib/web/public/assets/images/uploads/_*
