doctype html
html
  head
    title My title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css")
    link(rel="stylesheet" href="/assets/stylesheets/side-menu.css")
    link(rel="stylesheet" href="/assets/stylesheets/application.css")
    script(src="/assets/javascripts/vendor/require.js")

  body

    div(id="layout")
      a(href="#menu" id="menuLink" class="menu-link")
        span 

      div(id="menu")
        div(class="pure-menu pure-menu-open")
          a(class="pure-menu-heading" href="http://purecss.io/") Pure

          ul
            li
              a(href="http://purecss.io/base/") Base
            li
              a(href="http://purecss.io/base/") Base

            li(class="pure-menu-selected menu-item-divided")
              a(href="http://purecss.io/layouts/") Layouts

            li
              a(href="http://purecss.io/base/") Base

      div(id="main")
        block content

    script(src="/assets/javascripts/ui.js")
