<h1>Notes</h1>

{{#link-to "notes.new"}}Create{{/link-to}}

<ul>
  {{#each}}
    <li>{{#link-to 'notes.show' this}}{{state}}{{/link-to}}
      {{#link-to-confirm action='remove' item=this}}Delete{{/link-to-confirm}}
    </li>
  {{/each}}
</ul>
