<h3>Start</h3>

<form>
  <label>Er igang med at:</label>
  {{view Ember.Select valueBinding="state" content=states optionValuePath="content.id" optionLabelPath="content.name"}}
  <br />
  <label>Køretøj</label>
  {{view Ember.Select valueBinding="vehicle" content=vehicles optionValuePath="content.id" optionLabelPath="content.name"}}
  <br />

  <label>Opret slutseddle af:</label>
  {{view Ember.Select valueBinding="generate_note" content=generate_notes}}
  <br />
</form>

<button {{action 'save' content}}>Next</button> - <a href="javascript:window.history.go(-1)">Annullere</a>
