<header>
  <h1>Slutseddle</h1>
</header>

{{#link-to 'logout'}}Logout{{/link-to}}
{{#link-to "notes"}}Notes{{/link-to}}
{{#link-to "contacts"}}Contacts{{/link-to}}

{{yield}}

<footer>
  &copy;2014 Slutseddel
</footer>
