<canvas id="canvas" style="background-color: #FFF; position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; border:1px solid #ff0040">Not suppored</canvas>

<button type="submit" id="save" class="pure-button pure-button-primary" style="position: fixed; right: 120px; bottom: 0px; font-size: 30px; padding: 15px;">Save</button>

<button type="submit" id="close" class="pure-button pure-button-primary" style="position: fixed; right: 0px; bottom: 0px; font-size: 30px; padding: 15px;">Close</button>
